/* --------------------------------------------------------
INSURANCE AGENCY - Insurance Agency Website HTML5 Template
Author: http://themeforest.net/user/rayoflightt
Website: http://rayoflightthemes.com
----------------------------------------------------------*/
/* -----------------------------------------------------------
CONTENTS:
html5 and responsive content
reset
general clases
menu
button
top slider
counter
services
testimonials
flickity gallery carousel
team
home blog
contact
footer
blog pages
chart
twitter
single page
insurance single page
gallery page
tabs
MFAA calculators
other custom CSS

------------------------------------------------------------*/

/************** contact ***************/
/* added 27/06/18 */


#main input[type="select"] {
  width: 100%;
  max-width: 500px;
  color: #fff!important;
  margin-top: 0;
  height: 50px;
  padding: 0 27px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  margin-bottom: 14px;
  float: left;
  font-size: 14px;
  font-family: "lato";
  font-weight: 400;
  box-shadow: none;
  border: none;
  text-transform: none;
  outline: none;
  background: #909090;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
#main input[type="select"]:focus {
  background: #81858b;
}



  
   #main input[type="select"] {
    max-width: 100%;
  }
