<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/matt-campbell.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Matt Campbell <span style = "font-size: 12px;"></span></h4>
      <h6 class="editable">Director</h6>
      <h6 class="editable">Home Loan and Commercial Loan Broker</h6>
      <div class="editable"><a href="tel:0402457803"><p>Mobile: +61 402 457 803</p></a></div>
      <div class="editable"><a href="mailto:matt@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
      <div class="editable"><a href="https://www.linkedin.com/in/acceleratefinancebroker/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a></div>
    </div>
  </div>
</div>
