<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable">
        <p><img alt="" src="images/denis-goodger.jpg" /></p>
      </div>
     </figure>
    <div class="team-name">
      <h4 class="editable">
        Denis Goodger
      </h4>
      <h6 class="editable">
        Relationship Manager
      </h6>
      <h6 class="editable">
        Car Finance Broker
      </h6>
      <div class="editable">
        <p>Phone<a href="tel:08 8348 1000">: +61 414 746 572</a></p>
      </div>
      <div class="editable">
        <p><a href="mailto:info@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div>
    </div>
  </div>
</div>
