<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable">
        <p><img src="images/scott-allanson.jpg" /></p>
      </div>
     </figure>
    <div class="team-name">
      <h4 class="editable">
        Scott Allanson
      </h4>
      <h6 class="editable">
        Finance Broker
      </h6>
      <div class="editable">
        <p><a href="tel:0447277451">Mobile: +61 447 277 451</a></p>
      </div>
      <div class="editable">
        <p><a href="mailto:scott@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div>
      <div class="editable">
        <p><a target="_blank" href="https://www.linkedin.com/in/scott-allanson-8b33133b/"><i class="teamicon fa fa-linkedin"></i></a></p>
      </div>
    </div>
  </div>
</div>
