<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable">
        <p><img alt="" src="images/ian-barr.jpg" /></p>
      </div>
     </figure>
    <div class="team-name">
      <h4 class="editable">
        Ian Barr
      </h4>
      <h6 class="editable">
        Residential and Commercial Mortgage Broker &ndash; Accelerate Loans
      </h6>
      <div class="editable">
        <p><a href="tel:0410896942">Phone: +61 410 896 942</a></p>
      </div>
      <div class="editable">
        <p><a href="mailto:ian@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div>
      <!--<div class="editable"><a href="https://www.linkedin.com/in/kelly-linke-4616617b/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a></div> -->
    </div>
  </div>
</div>
