<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/michelle-rawlings.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Michelle Rawlings</h4>
      <h6 class="editable">Authorised Credit Representative</h6>
      <div class="editable"><a href="tel:0401463576"><p>Mobile: +61 401 463 576</p></a></div>
      <div class="editable"><a href="mailto:michelle@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
      <div class="editable"><a href="https://www.linkedin.com/in/michelle-rawlings-68b1959a/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a></div>
    </div>
  </div>
</div>
