<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable">
        <p><img alt="" src="/joanne-bowen.jpg" width="477" height="318" /></p>
      </div>
     </figure>
    <div class="team-name">
      <h4 class="editable">
        Jo-Anne Bowen
      </h4>
      <h6 class="editable">
        Finance Broker
      </h6>
      <div class="editable">
        <p><a href="tel:+610430033237">Mobile: +61 430 033 237</a></p>
      </div>
     <div class="editable">
       <p><a href="mailto:jo@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
     </div>
    </div>
  </div>
</div>
