<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable">
        <p><img src="/images/KellieS.jpg" /></p>
      </div>
     </figure>
    <div class="team-name">
      <h4 class="editable">
        Kellie Scott
      </h4>
      <h6 class="editable">
        Mortgage Broker
      </h6>
      <div class="editable">
        <p><a href="tel:+61411638449">Phone: +61 411 638 449</a></p>
      </div>
     <!-- <div class="editable">
        <p><a href="mailto:laurence@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div> -->
    </div>
  </div>
</div>
