<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable">
        <p><img alt="" src="images/michelle-rawlings.jpg" /></p>
      </div>
     </figure>
    <div class="team-name">
      <h4 class="editable">
        Michelle Rawlings
      </h4>
      <h6 class="editable">
        Authorised Credit Representative
      </h6>
      <div class="editable">
        <p><a href="tel:0401463576">Mobile: +61 414 004 312</a></p>
      </div>
      <div class="editable">
        <p><a href="mailto:michelle@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div>
      <div class="editable">
        <p><a target="_blank" href="https://www.linkedin.com/in/michelle-rawlings-68b1959a/"><i class="teamicon fa fa-linkedin"></i></a></p>
      </div>
    </div>
  </div>
</div>
