<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable">
        <p><img src="images/andrew-hoppy-hopkins.jpg" /></p>
      </div>
     </figure>
    <div class="team-name">
      <h4 class="editable">
        Andrew "Hoppy" Hopkins
      </h4>
      <h6 class="editable">
        Managing Director
      </h6>
      <h6 class="editable">
        Finance Broker
      </h6>
      <div class="editable">
        <p>Andrew, or Hoppy as he is known, is a seasoned professional with 40 years experience in the banking and finance industry. Andrew prides himself on finding individuals with skills and talents that compliment the Accelerate Group, and bringing the best out in those people to achieve a collaborative team, to provide the ultimate in customer service experience.</p>
        <p>A passionate and energetic leader, who leads by example.</p>
      </div>
      <div class="editable">
        <p><a href="tel:0438842244">Mobile: +61 438 842 244</a></p>
      </div>
      <div class="editable">
        <p><a href="mailto:andrewh@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div>
      <div class="editable">
        <p><a target="_blank" href="https://www.linkedin.com/in/andrew-hopkins-b9457732/"><i class="teamicon fa fa-linkedin"></i></a></p>
      </div>
    </div>
  </div>
</div>
