<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/chris-cafcakis.jpg" alt="" /></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Chris Cafcakis</h4>
      <h6 class="editable">
        Finance Broker
      </h6>
      <div class="editable">
        <p><a href="tel:0413803495">Mobile: +61 413 803 495</a></p>
      </div>
     <!-- <div class="editable">
        <p><a href="mailto:laurence@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div> -->
    </div>
  </div>
</div>
