<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable">
        <p><img alt="" src="images/kelly-linke.jpg" /></p>
      </div>
     </figure>
    <div class="team-name">
      <h4 class="editable">
        Kelly Linke
      </h4>
      <h6 class="editable">
        Finance Broker
      </h6>
      <div class="editable">
        <p><a href="tel:0410535519">Mobile: +61 410 535 519</a></p>
      </div>
      <div class="editable">
        <p><a href="mailto:kellyl@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div>
      <div class="editable">
        <p><a target="_blank" href="https://www.linkedin.com/in/kelly-linke-4616617b/"><i class="teamicon fa fa-linkedin"></i></a></p>
      </div>
    </div>
  </div>
</div>
