<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/emma-candy.jpg" alt="" /></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Emma Candy</h4>
      <h6 class="editable">
        Business Manager
      </h6>
      <div class="editable">
        <p><a href="tel:0416320162">Mobile: +61 416 320 162</a></p>
      </div>
     <!-- <div class="editable">
        <p><a href="mailto:laurence@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div> -->
    </div>
  </div>
</div>
