<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable">
        <p><img alt="" src="images/matt-campbell.jpg" /></p>
      </div>
     </figure>
    <div class="team-name">
      <h4 class="editable">
        Matt Campbell <span style="font-size: 12px;"></span>
      </h4>
      <h6 class="editable">
        Director
      </h6>
      <h6 class="editable">
        Home Loan &amp; Commercial Loan Broker
      </h6>
      <div class="editable">
        <p>Matt brings a wealth of experience including many years past service as Relationship, Business Banking and Small Business Manager roles with 2 of the big 4.</p>
        <p>Prior to focusing on all things finance, Matt has also gained insight from running his own business in recruitment and IT. If you are looking for a passionate and experienced finance professional to work with you to achieve your finance goals (be it your home, investment properties, your business, or you are starting up in business), look no further, Matt is a wealth of knowledge across many industries.</p>
        <h6>Credit Representative 518072 is authorised under Australian Credit Licence 389328</h6>
      </div>
      <div class="editable">
        <p><a href="tel:0402457803">Mobile: +61 402 457 803</a></p>
      </div>
      <div class="editable">
        <p><a href="mailto:matt@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div>
      <div class="editable">
        <p><a target="_blank" href="https://www.linkedin.com/in/acceleratefinancebroker/"><i class="teamicon fa fa-linkedin"></i></a></p>
      </div>
    </div>
  </div>
</div>
