<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable">
        <p><img alt="" src="images/rhianna-mallon.jpg" /></p>
      </div>
     </figure>
    <div class="team-name">
      <h4 class="editable">
        Rhianna Mallon
      </h4>
      <h6 class="editable">
        Finance Broker
      </h6>
      <div class="editable">
        <p><a href="tel:+61492339526">Mobile: +61 492 339 526</a></p>
      </div>
     <!-- <div class="editable">
        <p><a href="mailto:laurence@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></p>
      </div> -->
    </div>
  </div>
</div>
